<div align="center">
  <table style="width: 1024px; height: 768px; background-color: red;">
    <tr>
      <td colspan="2" style="background-color: yellow; height: 100px;">
        <h1>Sistema Eng</h1>
      </td>
    </tr>

    <tr>
      <td width="200px" style="background-color: green; vertical-align: top;">
        <%= render 'menu_lateral'  %>
      </td>

      <td width="824px" style="background-color: blue;">
        <%= yield %>
      </td>
    </tr>

  </table>
</div>