<h1>New Pessoa</h1>

<table>
  <tr>
    <td colspan="2">
      <%= render 'form', pessoa: @pessoa %>

      <%= link_to 'Back', pessoas_path %>
    </td>
  </tr>

  <tr>
    <td>

      <h1>New Pessoa Contato</h1>


    </td>
    <td>

    </td>
  </tr>
</table>

