<p id="notice"><%= notice %></p>

<p>
  <strong>Ref anomes:</strong>
  <%= @referencium.ref_anomes %>
</p>

<%= link_to 'Edit', edit_referencium_path(@referencium) %> |
<%= link_to 'Back', referencia_path %>
