<h1 align="left">Menu</h1>
<ul>
  <li>
    <a href="/pais">
      Cadastro de Pais
    </a>
  </li>

  <li>
    <a href="/estados">
      Cadastro de Estado
    </a>
  </li>

  <li>
    <a href="/cidades">
      Cadastro de Cidade
    </a>
  </li>

  <li>
    <a href="/bairros">
      Cadastro de Bairro
    </a>
  </li>

  <li>
    <a href="/ceps">
      Cadastro de Cep
    </a>
  </li>

  <li>
    <a href="/enderecos">
      Cadastro de Endereço
    </a>
  </li>

  <li>
    <a href="/tipo_documentos">
      Cadastro de Tipo de Documento
    </a>
  </li>

  <li>
    <a href="/tipo_enderecos">
      Cadastro de Tipo de Endereço
    </a>
  </li>

  <li>
    <a href="/empresas">
      Cadastro de Empresa
    </a>
  </li>

  <li>
    <a href= "/pessoas">
      Gerencia de Pessoa
    </a>
  </li>

  <li>
    <a href= "/usuarios">
      Gerencia de Usuário
    </a>
  </li>

</ul>

